@use '../../../styles/variables' as *;

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 202;
}

.checkok{
  width: 50px;
  height: 50px;
  stroke-width: 1px;
  color: $green600;
}
.checknot{
  width: 50px;
  height: 50px;
  stroke-width: 1px;
  color: $amber600;
}

.title{
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
  line-height: 2.5rem;
 // @include serif
}


.subtitle{
  font-size: 1rem;
  text-align: center;
 // @include serif
}

.button{
  margin-top: 2rem;
}

.svg{
  width: 24px;
  height: 24px;
  stroke-width: 1px;
}