@use '../../../styles/variables' as *;

.inputgroup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:nth-child(n + 4) {
    grid-column: span 2 / span 2;
  }
}


.label {
  position: absolute;
  left: 0;
  pointer-events: none;
  padding: 0rem 0.5rem;
  z-index: 10;
  transform: translate(9px, 15px) scale(1);
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;
  color: $gray400;
}

.labelfocus {
  transform: translate(6px, -10px) scale(0.85);
  background-color: white;
  color: $gray800;
}

.input,
.textarea {
  width: 100%;
  border-radius: 0px;
  border: solid 1px $gray300;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  transition: border 0.2s;

  &::placeholder {
    opacity: 1;
    font-size: 0.9rem;
    color: black;
  }

  &:focus {
    outline: none;
    border: solid 1px $gray800;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

.textarea {
  resize: vertical;
  min-height: 25vh;
  overflow-y: hidden;
}
