@use '../../styles/variables' as *;

.container{
  @include desktop-container;
}

.list {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:3rem;
  width: 80%;

}

.titleblock{
  margin-bottom: 6rem;
}

.title {
  display: block;
  text-align: left;
}
