@use '../../styles/variables' as *;

.container{
  @include desktop-container;
}

.subtitle{
  //@include serif;
  font-size: 1rem;
  width: 100%;

}

.list {
  padding-left: 0rem;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
 // gap:3rem;
  width: 80%;
}

.titleblock{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 80%;
  gap:3rem;
}

@media (max-width: $breakpoint-md){
  .list{
    width: 100%;
  }

  .titleblock{
    width: 100%;
    align-items: flex-start;
   
  }
}
@media (max-width: $breakpoint-sm){
  .list{
    width: 100%;
  }
  .titleblock{
    flex-direction: column;
    gap:1rem;
  }
}



.title {
  display: block;
  text-align: left;
  margin-bottom: 1.5rem;

}

.filters{
  display: flex;
  flex-wrap: wrap;
 // gap: .5rem;
  align-items: center;
  padding-top: 0rem;
 
}

.label {
  cursor: pointer;

}

.selectwrapper {
  position: relative;
}

.select{
  padding: .5rem .5rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  @include seriflight;
  @include borderlight;
  transition: all .2s;
  cursor: pointer;
  width: 250px;
  color:inherit;
  background-color: $white;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';


  &:hover, &:active{
    background-color: $gray100;
  }
}

.chevron{
  position: absolute;
  right:.5rem;
  top:29%;
  width: 16px;
  height: 16px;
  stroke-width: 1px;
  pointer-events: none;
}