@use '../../../styles/variables' as *;


.item{

}

.itemactive{
  animation: appear 1s ease;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from{
    transform: translateY(15%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
  
}

.title{
  @include serif;
  margin-top:.5rem;
}

.article {
  margin: 4rem auto 4rem auto;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap:3rem;
  height: 100%;
}

.description{
  flex-grow: 1;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:2rem;
}

.date{
  color: $gray400;
}

.lower{
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content{
  @include text-shorten(3);
}

.readtime{
  display: flex;
  align-items: center;
  font-size: .8rem;
  gap: .5rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: $gray100;
  color: $gray400;
}


.clock{
  width: 20px;
  height: 20px;
  stroke-width: 1px;
}

.sharegroup{
  position: relative;
}

.share{
  width: 40px;
  height: 40px;
  padding: .5rem .5rem;
  stroke-width: 1px;
  cursor: pointer;
  color: $gray400;
  transition: all .2s;
  background-color: $white;
  
  &:hover {
    background-color: $gray100;
  }
  //@include scaleclick;


}

.separator{
  //margin: 0 auto;
  width: 100%;
  height: 1px;
  background-color: $gray200;
}

@media (max-width:$breakpoint-sm) {

  .title{
    margin-top:1rem;
  }

  .article {
    margin: 3 auto 3rem auto;
    display: flex;
    flex-direction: column;
    gap:3rem;
    height: 100%;
  }

  .description{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:2rem;
  }
  
}