@use '../../../styles/variables' as *;

.container{
position: relative;
width: 250px;
height: 250px;
}

// @media (max-width: $breakpoint-md){

//   .container{
//     position: relative;
//     width: 40vw;
//     height: 40vw;

//   }
// }
@media (max-width: $breakpoint-sm){

  .container{
    position: relative;
    align-self: flex-start;
    width: 65vw;
    height: 65vw;

  }
}