@use '../../../styles/variables' as *;

.footer {
  position: relative;
  @include bordertoplight;
  background-color: $white;
  font-weight: 300;
}

.innercontainer {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  @include desktop-container;
}

.logo {
  padding: 1rem 0;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  gap: 1rem;
  color: $gray700;
  transition: all .4s;
}



.link {
  &::after{
    content: '';
    display: block;
    background-color: $gray400;
    height: 1px;
    width: 0%;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    
    
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
  }
  
  &:hover:after {
    width: 100%;
  }
}

.address {
  text-align: center;
  font-size: 0.9rem;
  color: $gray700;

  white-space: pre;
  line-height: 1.3rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  gap: 1rem;
}

.socialicon {
  width: 35px;
  height: 35px;
  color: $gray600;
  transition: all 0.3s;

  &:hover {
    color: $gray800;
  }
  &:active {
    transform: scale(0.95);
  }
}

.design {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  color: $gray700;
  font-size: 0.8rem;
 // font-weight: 100;
}

@media (max-width: $breakpoint-sm) {
  .innercontainer {
    padding-bottom: 4rem;
    gap: 1.5rem;
    
  }

  .design {
    
    right: none;
    left: 2rem;
  }
}