@use '../../styles/variables' as *;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 0;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px) translate3d(0,0,0);
  }
  to {
    opacity: 1;
    transform: translateY(0px) translate3d(0,0,0);
  }
}

.spe {
  position: relative;
  display: flex;
  flex-direction: column;

  &:nth-child(n + 2) {
    margin-top: 1rem;
  }

  &_titlegroup {
    display: flex;
    align-items: baseline;
    cursor: pointer;
  }

  &_chevron {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 1px;
    margin-right: 1rem;
    transition: all 0.3s;
    cursor: pointer;
  }

  &_chevron {
    &:hover + .spe_titleouter > .spe_titlebar {
      width: 100%;
    }
  }

  &_chevronselected {
    transform: rotate(-180deg) translate3d(0,0,0);
  }

  &_titleouter {
    flex-grow: 1;
  }

  &_title {
    display: inline;
    margin-bottom: 0rem;
    font-size: 2rem;
    @include serif;

    user-select: none;
    transition: all 0.2s;
    cursor: pointer;
    transform: translateY(100px) translate3d(0,0,0);
  }

  &_title {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        font-size: 2.02rem;
      }
    }

    &:hover + .spe_titlebar {
      width: 100%;
    }
  }

  &_titlebar {
    content: '';
    flex-grow: 1;
    display: flex;
    background-color: $gray400;
    height: 1px;
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    transform: translateY(5px) translate3d(0,0,0);
    transition: all 0.3s ease-in-out;

    &:active {
      transform: scale(0.99) translate3d(0,0,0);
    }
  }

  &_selected {
    content: '';
    display: block;
    background-color: $gray400;
    height: 1px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    transform: translateY(5px) translate3d(0,0,0);
    transition: all 0.3s ease-in-out;
  }

  &_lower {
    max-height: 0px;

    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    gap: 2rem;
    overflow: hidden;
    transition: all 0.5s ease-out;
    padding-left: 4rem;
  }

  &_description {
    padding-top: 1rem;
    grid-column: span 6 / span 6;
  }

  &_titlespe {
    margin-bottom: 1.5rem;
    padding-left: 0rem;
    //@include seriflight;
  }

  &_right {
    padding: 1rem 2rem 0rem 2rem;
    grid-column: span 3 / span 3;
    font-size: 1.1rem;
    @include serif;
    border-left: none !important;
  }

  &_show {
    max-height: 300vh;
    animation: appear 0.5s ease-in 0.2s;
    animation-fill-mode: backwards;
    transform: translate3d(0,0,0);
  }

  &_lowerbar {
    grid-column: span 9 / span 9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &_linkcontainer {
    color: $gray500;
    margin-top: 0rem;
    margin-bottom: 3rem;

    @media (hover: hover) and (pointer: fine) {
      &::after {
        content: '';
        display: block;
        background-color: $gray500;
        height: 1px;
        width: 0%;
        transform: translateY(5px) translate3d(0,0,0);
        transition: all 0.2s;
      }
      &:hover {
        color: $gray800;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }

  &_link {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include seriflight;
    font-size: 1.1rem;
    align-self: flex-end;
  }
}

.isHidden {
  opacity: 0;
}

.itemactive {
  animation: appear 1s;
  animation-fill-mode: forwards;
  transform: translate3d(0,0,0);
}

.arrowlink {
  width: 20px;
  height: 20px;
  stroke-width: 1px;
}

.separator {
  margin: 1.5rem auto;
  height: 1px;
  width: 80%;
  background-color: $gray200;
  grid-column: 1 / span 5;
  // transform: translateX(50px);
}

@media (max-width: $breakpoint-sm) {
  .spe {
    &:nth-child(n + 2) {
      margin-top: 1rem;
    }

    &_chevron {
      width: 1.2rem;
      height: 1.2rem;
      stroke-width: 1px;
      margin-right: 0.8rem;
    }

    &_title {
      font-size: 1.6rem;

      &:hover {
        font-size: 1.6rem;
      }
    }

    &_title {
      &:hover + .spe_titlebar {
        width: 90%;
      }
    }

    &_titlebar {
      width: 90%;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }

    &_selected {
      width: 100% !important;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }

    &_lower {
      padding-top: 0;
      padding-left: 2rem;
    }
    &_description {
      padding: 0;
      grid-column: span 9 / span 9;
    }

    &_right {
      padding: 0rem;
      grid-column: span 9 / span 9;
      font-size: 1.2rem;
      @include serif;
      border-left: none !important;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px) translate3d(0,0,0);
  }
  to {
    opacity: 1;
    transform: translateY(0px) translate3d(0,0,0);
  }
}

$prevDeExp: 0s;
$newDeExp: 0s;
$gapDeExp: 0.4s;

@for $i from 1 through 15 {
  $newDeExp: $prevDeExp + $gapDeExp;
  $prevDeExp: $newDeExp;
  @if $i == 1 {
    .animation#{($i - 1)} {
      animation: itemanimationExp 0.8s cubic-bezier(0.33, 1, 0.68, 1);
      animation-delay: 0.4s;
      animation-fill-mode: backwards;
      transform: translate3d(0,0,0);
    }
  } @else {
    .animation#{($i - 1)} {
      animation: itemanimationExp 0.8s cubic-bezier(0.33, 1, 0.68, 1);
      animation-delay: $newDeExp;
      animation-fill-mode: backwards;
      transform: translate3d(0,0,0);
    }
  }
}

@keyframes itemanimationExp {
  0% {
    opacity: 0;
    transform: translateX(-10%) translate3d(0,0,0);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) translate3d(0,0,0);
  }
}
