@use '../../styles/variables' as *;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background: linear-gradient(135deg, rgba($white, 0.1), rgba($white, 0.3));
  background-size: cover;
  z-index: 0;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.spe {
  position: relative;
  display: flex;
  flex-direction: column;

  &_title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    // font-size: 1.6rem;
    font-size: 2.5rem;
    @include serif;
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
      &::after {
        content: '';
        display: block;
        background-color: $gray800;
        height: 1px;
        width: 60%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        transform: translateY(5px);
        transition: all 0.2s;
      }

      &:hover {
        color: $gray800;
      }

      &:hover:after {
        width: 100%;
      }
    }
  
  }

  &_lower {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //padding: 0rem 1rem 1rem 1rem;
    //  background-color: $white;
  }

  //   &:nth-child(2n) .spe_right{
  //     padding-left: 2rem;
  // }

 

  &_shorten {
    @include text-shorten(2);
  }


  &_chevron {
    width: 16px;
    height: 16px;
    stroke-width: 1px;
  }

  &_linkcontainer {
    align-self: flex-end;
    color: $gray500;
    margin-top: 0rem;

    @media (hover: hover) and (pointer: fine) {
      &::after {
        content: '';
        display: block;
        background-color: $gray800;
        height: 1px;
        width: 0%;
        transform: translateY(5px);
        transition: all 1s ease-in-out;
      }

      &:hover {
        color: $gray800;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }

  &_link {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include seriflight;
    font-size: 1.1rem;
    align-self: flex-end;
  }
}

.isHidden {
  opacity: 0;
}

.itemactive {
  animation: appear 1s;
  animation-fill-mode: forwards;
}

.arrowlink {
  width: 20px;
  height: 20px;
  stroke-width: 1px;
}

.separator {
  margin: 1.5rem auto;
  height: 1px;
  width: 80%;
  background-color: $gray200;
  grid-column: 1 / span 5;
  // transform: translateX(50px);
}

.lowerbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.label {
  @include serif;
}

.sharegroup {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: $gray100;
  color: $gray400;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  transition: all 0.2s;

  &:hover {
    background-color: $gray200;
  }
  // &:active {
  //   transform: scale(.95);
  // }
}

.share {
  width: 19px;
  height: 19px;
  //padding: .5rem .5rem;
  stroke-width: 1px;
  cursor: pointer;
  color: $gray400;
  transition: all 2s;
  // background-color: $gray100;

  @include scaleclick;
}

@media (max-width: $breakpoint-md) {
  .spe {
    grid-column: span 4 / span 4 !important;
  }
}

@media (max-width: $breakpoint-sm) {
  .spe {
    grid-column: span 4 / span 4 !important;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    gap: 2rem;

    &_top {
      position: relative;
      flex: 1 0 auto;
      width: 90vw;
      height: 50vw;
      margin: 0 auto;
      // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83%);
    }

    &_title {
      margin-bottom: 1.5rem;
    }

    &_linkcontainer {
      margin-top: 0rem;
      align-self: center;
    }
  }

  .separator {
    margin: 3rem auto 3.5rem auto;
    border: none;
    width: 100%;
    transform: translateX(0);
  }

  .lowerbar {
    margin-top: 2.5rem;
  }
}
