@use '../../styles/variables' as *;


.titlegroup{
  position: relative;
  display: flex;
  align-items:flex-start;
  overflow: hidden;
  z-index: 0;
 // min-height: 45vh;
}

.black{
  color: $gray800;
}

.img{
 position: absolute;
 top:0;
 left: 0;
 z-index: 0;
}

.overlay{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  //  background: linear-gradient(
  //    135deg,
  //    rgba($white, 0.3),
  //    rgba($gray200, 0.6)
  //  );
  background: linear-gradient(135deg, rgba(#164e63, .9), rgba($white, 0.2));
 //background: linear-gradient(135deg, rgba(#1e293b, 0.9), rgba(#1e293b, 0.2));
// background: linear-gradient(135deg, rgba($gray800, 0.7), rgba($white, 0.2));
  //backdrop-filter: blur(10px);
   background-size: cover;
   z-index: 0;
}

.titlegroupinner{
  position: relative;
  z-index: 100;
  @include desktop-container;
  height: 26vh;

  padding: 2rem 0rem 1rem 0rem;
  // margin : 0 0rem 0 0rem;
  color: $white;
  display: flex;
  align-items: flex-end;
  
  
  // justify-content: space-between;
  // gap:3rem;
  //background-color: rgba($white, .1);
 // backdrop-filter: blur(15px);
}

.title{
  //font-family: le-monde-livre-classic-byol;
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 0rem;
  margin-bottom: 0rem;
  letter-spacing: .1rem;
  width: 100%;
  animation: appear 2s;
  animation-fill-mode: forwards;
}

.subtitle{
  font-size: 1.4rem;
  font-weight: 300;
}

.right{
  display: flex;
  flex-direction: column;
  gap:1rem;
}


@media (max-width: $breakpoint-md) {
  .titlegroupinner{
 //   flex-direction: column;
 //   align-items: flex-start;
  //  gap:2rem;

  height: 100%;


  // margin-top: 1.5rem;
  // margin-bottom: 1.5rem;
  padding: 4rem 0rem 2rem 0rem;
  //margin: 0;
  }

  .title{
    font-size: 2.5rem;
  }

  .subtitle{
    font-weight: 300;
  }
}

@keyframes appear {
from{
  opacity: 0;
}

to{
  opacity: 1;
}

}