@use '../../styles/variables' as *;

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(black, 0.2);
  backdrop-filter: blur(5px);
  z-index: 200;
}
.modalcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 201;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modal {
  position: relative;
  padding: 4rem;
  width: 70vw;
  height: 70vh;
  background-color: $white;
  pointer-events: all;
  animation: appear 0.5s;

}

@media (max-width: $breakpoint-md) {
  .modal{
    padding: 2rem;
    width: 95vw;
    min-height: 40vh;
  }
}

.closebtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 38px;
  height: 38px;
  cursor: pointer;
  stroke-width: 1px;
  padding: 0.4rem;
  transition: all 0.2s;
  color: $gray400;

  &:hover {
    background-color: $gray100;
    color: $gray800;
    border-radius: 100px;
  }

  &:active {
    animation-play-state: paused;
    transform: scale(0.9);
  }
}
