@use '../../styles/variables' as *;

.bullet {
  list-style: none;
  padding-left: 1rem;
  margin: 1rem 0 1rem 1rem;
  border-left: 1.5px solid $gray200;
}

.title {
  margin-bottom: 2rem;
}

.link {
  text-decoration: underline;

  &:hover {
    color: $gray400;
  }
  &:visited {
    color: $gray400;
  }
}

.blockquote {
  @include serif;
  font-size: 1.3rem;
  width: 90%;
  margin: 3rem auto;
  font-style: italic;
  font-weight: 200;
  text-align: center;

  &:before {
    content: '" ';
  }
  &:after {
    content: ' "';
  }
}

.img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

@media (max-width: $breakpoint-sm) {
  .img {
    width: 100%;
    height: 100%;
  }
}
