@use '../styles/variables' as *;

.container{
  @include desktop-container;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

.title{
  font-size: 2rem;
}