@use '../styles/variables' as *;

.container {
}

.section1 {
  @include desktop-container;
  margin: 0 auto;
}

.spegroup {
  // display: flex;
  // flex-direction: column;
  // gap:3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
}

@media (max-width: $breakpoint-md) {
  .spegroup {
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.span2 {
  grid-column: span 2 / span 2;
}

.sectiontitlegroup {
  margin-bottom: 6rem;
}

.sectiontitle {
  @include serif;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
}

@media (max-width: $breakpoint-sm) {
  .sectiontitle {
    font-size: 2.5rem;
  }
}

.sectiontitle2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, rgba($white, 0.1), rgba($white, 0.3));
  background-size: cover;
  z-index: 0;
}


.arrowlink {
  width: 20px;
  height: 20px;
  stroke-width: 1px;
}

.phasegroup {
  @include desktop-container;
  @include borderlight;
  padding: 3rem;
  background-color: $gray50;
}

.phasegroupinner {
  display: flex;
  flex-direction: column;
  background-color: $gray50;
  padding: 4rem 4rem 2rem 4rem;
  font-size: 1.1rem;
}

.linkcontainer {
  align-self: flex-end;
  margin-top: 3rem;
  color: $gray500;

  @media (hover: hover) and (pointer: fine) {
    &::after {
      content: '';
      display: block;
      background-color: $gray800;
      height: 1px;
      width: 0%;
      transform: translateY(5px);
      transition: all 0.2s;
    }

    &:hover {
      color: $gray800;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include seriflight;
  font-size: 1.1rem;
  align-self: flex-end;
}


.separator {
  position: relative;
  margin: 0rem auto;
  margin-bottom: 1rem;
  height: 100%;
  width: 40%;
  //background-color: $gray200;
  //grid-column: 1 / span 5;
 // transform: translateX(50px);
}


@media (max-width: $breakpoint-md) {
  .separator{
    width: 60%;
  }
}
@media (max-width: $breakpoint-sm) {
  .phasegroup {
    padding: 0.5rem;
  }

  .phasegroupinner {
    padding: 1rem .5rem 2rem .5rem;
    font-size: 1rem;
  }

  .separator{
    width: 90%;
  }
}