@use '../styles/variables' as *;

.upper {
  position: relative;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background: linear-gradient(135deg, rgba($gray900, 0.7), rgba($gray900, 0.2));
  background: linear-gradient(135deg, rgba($gray800, 0.7), rgba($white, 0.2));
  // background: linear-gradient(135deg, rgba(#0e7490, .8), rgba(#0e7490, 0.1));
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );

  background-size: cover;
  z-index: 0;
}

.upperinner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: calc(100vh);
  padding: 4rem 0 0 0;
  @include desktop-container;
}

.titlegroup {
  flex: 1 0 100%;
  display: flex;
  margin: auto 0;
  margin-bottom: 0;
  flex-direction: column;
  gap: 2.5rem;
  user-select: none;
  color: $gray800;
  padding: 0rem 4rem;
  animation: opa 1.5s;
  z-index: 1;
}

.black {
  color: $gray800;
}

@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.side{
  position: absolute;
  top: 12rem;
  right: 4rem;
}

.titlegroup h1 {
  margin: 0;
  padding: 0;
}

.title {
  //font-family: le-monde-livre-classic-byol, serif;
  position: relative;
  letter-spacing: 0.5vw;
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-weight: 400;
  margin-bottom: 1rem;
  display: block;
}

.subtitle {
  display: block;
  font-size: 2.5vw;
  line-height: 2.5vw;
  letter-spacing: 0.8vw;

  margin: 0;
  padding: 0;
  font-weight: 300;
  margin-bottom: 1rem;
}

.spegroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.8rem;
  z-index: 1;
}

.chevronright{
  stroke-width: 1px;
  width: 20px;
  height: 20px;
  margin-right: .5rem;
}

.spe {
  position: relative;
  display: flex;
  align-items: center;

  //background-color: red;
  color: $gray800;
  font-size: 1.5rem;
  //letter-spacing: 0.3vw;
  @include seriflight;
  transition: all 0.3s;
  z-index: 1;

  &:hover {
    transform: translate(5px, 0px);
  }

  &:active {
    transform: translate(5px, 0px) scale(0.98);
  }


  &::after{
      position: absolute;
      bottom:-.4rem;
      left: .5rem;
      content: '';
      display: block;
      background-color: $gray800;
      height: 1px;
      width: 0%;
      // transform: translateY(5px);
      // -webkit-transform: translateY(5px);
      // -moz-transform: translateY(5px);
      // -ms-transform: translateY(5px);
      
      
      transition: all .4s;
      // -webkit-transition: all .2s;
      // -moz-transition: all .2s;
      // -ms-transition: all .2s;
    }
  
    &:hover:after {
      width: calc(100% + 70px);
    } 
  

  &_black {
    border: 1px solid $gray700;
    color: $gray700;
    background-color: rgba($gray400, 0.1);

    &:hover {
      background-color: rgba($gray400, 0.2);
      box-shadow: 4px 4px 4px rgba($gray700, 0.1);
    }

    &:active {
      background-color: rgba($gray400, 0.2);
    }
  }
}

$prevDel: 0.1s;
$newDel: 0s;
$gapDel: 0.6s;
@for $i from 1 through 10 {
  $newDel: $prevDel + $gapDel;
  $prevDel: $newDel;
  .spe:nth-child(#{$i}) {
    animation: appearspeleft 0.6s;
    animation-delay: $newDel;
    animation-fill-mode: backwards;
  }
}

.herobottomgroup{
display: flex;
align-items: flex-end;
width: 100%;
margin-top: 2rem;
//align-self: flex-end;

}

@media (max-width: $breakpoint-sm) {
  .upperinner {
    min-height: calc(100svh - 80px);
    // padding: 2rem 0;
  }

  .titlegroup {
    margin: 0;
    padding: 0rem 0rem;
    // gap:3rem;
    animation: none;
    opacity: 1;
  }

  .title {
    // text-align: end;
    font-size: 12vw;
    line-height: 12vw;
    letter-spacing: 1.2vw;
    font-weight: 500;
  }
  .subtitle {
    // text-align: end;
    font-size: 5.6vw;
    line-height: 7.5vw;
    letter-spacing: 1.3vw;
    // margin-bottom: 4svh;
    font-weight: 500;
  }

  .spegroup {
    // align-items: flex-end;
    gap: 1.2rem;
    margin-bottom: 1rem;
  }

  .spe {
    padding: 0.5rem 5.4rem 0.5rem 1.2rem;
    font-size: 1.1rem;
    letter-spacing: 0.07rem;
    //  backdrop-filter: blur(2px);
    font-weight: 500;
    animation: none !important;
    opacity: 1;
  }
}

@keyframes appearspeleft {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moving {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(6px);
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.arrow {
  margin-left: 1.5rem;
  width: 3rem;
  height: 3rem;
  stroke-width: 1px;
  // color: $gray400;
  color: $gray500;
  //background-color: rgba($white, .2);
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s ease-in;
   border: 1px solid transparent;
 // border: 1px solid rgba($gray500, 1);
  border-radius: 100px;

  &:hover {
    animation: moving 0.3s ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  //  background-color: rgba($white, 0.1);
    border: 1px solid $gray700;
    // background-color: $white;
    // border-color: $gray300;
    color: $gray700;
    border-radius: 100px;
    //background-color: rgba($gray400, .1);
  }

  &:active {
    animation-play-state: paused;
    animation: scale 0.2s;
  }

  &_black {
    border: 1px solid $gray700;
    color: $gray700;

    &:hover {
      background-color: rgba($gray400, 0.2);
    }

    &:active {
      background-color: rgba($gray400, 0.2);
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .arrow {
    display: none;
  }
}

.separator {
  position: relative;
  margin: 0rem auto;
  margin-top: 3rem;
  margin-bottom: 0rem;
  height: 100%;
  width: 90%;
  max-width: 1200px;
}

@media (max-width: $breakpoint-sm) {
  .separator {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0rem;
    object-fit: cover;
    overflow: hidden;
  }
}

.bottom {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  padding-top: 8rem;
  @include desktop-container;
}

@keyframes appearleft {
  from {
    opacity: 0;
    transform: translateX(-15%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.image {
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  flex-shrink: 0;
  flex-grow: 1;
  width: 25vw;
  height: 100%;
}

.show {
  animation: appearleft 1.2s;
  animation-fill-mode: forwards;
}

.desc {
  background-color: $gray200;
  padding: 1px;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
}

.descinner {
  height: 100%;
  width: 100%;
  padding: 3rem 2rem 3rem 6rem;
  background-color: $white;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
  font-size: 1rem;
}

.bottomtitle {
  @include serif;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

@media (max-width: $breakpoint-md) {
  .bottom {
    padding-top: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }

  .image {
    margin: 0 auto;
    text-align: center;
    clip-path: none;
    width: 30%;
    height: 100%;
  }

  .desc {
    clip-path: none;
  }

  .descinner {
    padding: 3rem 1.5rem;
    clip-path: none;
  }
}

@media (max-width: $breakpoint-sm) {
  .bottom {
    padding-top: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }

  .image {
    margin: 0 auto;
    text-align: center;
    clip-path: none;
    width: 60%;
    height: 100%;
  }

  .desc {
    clip-path: none;
  }

  .descinner {
    padding: 3rem 1.5rem;
    clip-path: none;
  }
}
