@use '../styles/variables' as *;

.container {
}

.upper {
  position: relative;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, rgba($white, 0.3), rgba($gray400, 0.6));
  background-size: cover;
  z-index: 0;
}

.upperinner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 72px);
  padding: 4rem 0;
  @include desktop-container;
}

.titlegroup {
  flex: 1 0 100%;
  display: flex;
  margin: auto 0;
  margin-bottom: 0;
  flex-direction: column;
  gap: 2.5rem;
  user-select: none;
  color: rgba($white, 1);
  padding: 0rem 2rem;
  animation: opa 1.5s;
}

@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.titlegroup h1 {
  margin: 0;
  padding: 0;
}

.title {
  font-family: le-monde-livre-classic-byol, serif;
  font-display: optional;
  position: relative;
  letter-spacing: 0.5vw;
  font-size: 6vw;
  line-height: 6vw;
  font-weight: 500;
  margin-bottom: 1rem;
  color: $white;
}

.subtitle {
  // text-align: end;
  //font-family: le-monde-livre-classic-byol, serif;
  // font-size: 3.6rem;
  // letter-spacing: 1.6vh;
  font-size: 4vw;
  line-height: 4vw;
  letter-spacing: 0.9vw;

  margin: 0;
  padding: 0;
  font-weight: 300;
  // line-height: 4.5rem;
  margin-bottom: 1rem;
  //color: rgba($white, .8)
  color: $white;
}

.spegroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  z-index: 1;
}

.spe {
  padding: 0.5rem 5.4rem 0.5rem 1.8rem;
  background-color: rgba($white, 0.1);
  color: rgba($white, 0.8);
  font-size: 1.2rem;
  //font-size: 1.5vw;
  border: 1px solid rgba($white, 0.8);
  @include serif;
  font-weight: 500;
  transition: all 0.2s;
  z-index: 1;

  &:hover {
    transform: translate(1px, -1px);
    background-color: rgba($white, 0.2);
    box-shadow: 4px 4px 4px rgba($white, 0.1);
  }

  &:active {
    background-color: rgba($white, 0.2);
    transform: scale(0.98);
  }
}

$prevDel: 0.1s;
$newDel: 0s;
$gapDel: 0.6s;
@for $i from 1 through 10 {
  $newDel: $prevDel + $gapDel;
  $prevDel: $newDel;
  .spe:nth-child(#{$i}) {
    animation: appearspeleft 0.6s;
    animation-delay: $newDel;
    animation-fill-mode: backwards;
  }
}

@media (max-width: $breakpoint-sm) {
  .upperinner {
    padding: 2rem 0;
  }

  .titlegroup {
    margin: auto 0;
    padding: 0rem 0rem;
  }

  .title {
    // text-align: end;
    font-size: 13vw;
    line-height: 14vw;
    letter-spacing: 1.4vw;
    font-weight: 700;
  }
  .subtitle {
    // text-align: end;
    font-size: 6.1vw;
    line-height: 6.1vw;
    letter-spacing: 1.2vw;
    margin-bottom: 4vh;
    font-weight: 500;
  }

  .spegroup {
    // align-items: flex-end;
    gap: 1.2rem;
    margin-bottom: 1rem;
  }

  .spe {
    padding: 0.5rem 5.4rem 0.5rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

@keyframes appearspeleft {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moving {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(6px);
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.arrow {
  align-self: flex-end;
  width: 3rem;
  height: 3rem;
  stroke-width: 1px;
  // color: $gray400;
  color: rgba($white, 0.7);
  //background-color: rgba($white, .2);
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s ease-in;
  // border: 1px solid transparent;
  border: 1px solid rgba($white, 0.8);
  border-radius: 100px;

  &:hover {
    animation: moving 0.3s ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: rgba($white, 0.1);
    // background-color: $white;
    // border-color: $gray300;
    border-radius: 100px;
  }

  &:active {
    animation-play-state: paused;
    animation: scale 0.2s;
  }
}

.bottom {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  // padding-right: 4rem;
  // padding-left: 4rem;
  // background-color: $gray50;
  @include desktop-container;
}

@keyframes appearleft {
  from {
    opacity: 0;
    transform: translateX(-15%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.image {
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  flex-shrink: 0;
  flex-grow: 1;
  width: 25vw;
  height: 100%;
}

.show {
  animation: appearleft 1.2s;
  animation-fill-mode: backwards;
}

.desc {
  background-color: $gray200;
  padding: 1px;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
}

.descinner {
  height: 100%;
  width: 100%;
  padding: 3rem 2rem 3rem 6rem;
  background-color: $white;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
  font-size: 1rem;
}

.bottomtitle {
  @include serif;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

@media (max-width: $breakpoint-md) {
  .bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }

  .image {
    margin: 0 auto;
    text-align: center;
    clip-path: none;
    width: 30%;
    height: 100%;
  }

  .desc {
    clip-path: none;
  }

  .descinner {
    padding: 3rem 1.5rem;
    clip-path: none;
  }
}

@media (max-width: $breakpoint-sm) {
  .bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }

  .image {
    margin: 0 auto;
    text-align: center;
    clip-path: none;
    width: 60%;
    height: 100%;
  }

  .desc {
    clip-path: none;
  }

  .descinner {
    padding: 3rem 1.5rem;
    clip-path: none;
  }
}
