@use '../../../styles/variables' as *;

.header {
 @include borderbottomlight;

 //border-bottom: 70px solid red;


  //background-color: $white;
  // position: fixed;
  // width: 100%;
  background-color: rgba($white, .7);
  // z-index: 100;
  backdrop-filter: blur(5px);
}

// @media (max-width: $breakpoint-md) {
//   .header {
//     position: fixed;
//     width: 100%;
//     background-color: $white;
//     z-index: 100;
//     backdrop-filter: none;
//   }
// }

.navcontainer {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  @include desktop-container;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px * 1.2;
  height: 35.6px * 1.2;
  cursor: pointer;
}
