@use '../../../styles/variables' as *;

.header {
 
  position: fixed;
  z-index: 1;
 background-color: rgba($white, .90);
  backdrop-filter: blur(5px);
  width: 100%;
  //box-shadow: 0px 1px 12px rgba(black, .05);
  z-index: 200;
}

.border {
   @include borderbottomlight;
}

.navcontainer {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  @include desktop-container;
}

.logocontainer{
  position:relative;
  width: 209px;
  height: 39.16px;
  cursor: pointer;
}

.logo {
  width: 209px ;
  height: 39.16px;
  
}

@media (max-width: $breakpoint-sm){
  .logocontainer{
    width: 209px * .9;
    height: 39.16px * .9;
  }
 
}

.banner {
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);

  opacity: 0.3;
}
