@use '../../../styles/variables' as *;

.hamburger {
  content: '';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.4rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 40;
  //width: 100%;
  will-change: transform;
  @include scaleclick;
}

@media (min-width: 993px) {
  .hamburger {
    display: none;
  }
}

.line {
  content: '';
  width: 100%;
  height: 0.2rem;
  background-color: black;
  border-radius: 5px;
  z-index: 40;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  will-change: transform;

  &--top {
    width: 40%;
  }
  &--middle {
    width: 70%;
  }
  &--bottom {
    width: 50%;
  }
}

.rotatetop {
  width: 60%;
  transform: translateY(9.5px) rotate(225deg);
  -webkit-transform: translateY(9.5px) rotate(225deg);
  -moz-transform: translateY(9.5px) rotate(225deg);
  -ms-transform: translateY(9.5px) rotate(225deg);
  will-change: transform;
}
.rotatemiddle {
  width: 0%;
  will-change: transform;
}

.rotatebottom {
  width: 60%;
  transform: translateY(-9.5px) rotate(-225deg);
  -webkit-transform: translateY(-9.5px) rotate(-225deg);
  -moz-transform: translateY(-9.5px) rotate(-225deg);
  -ms-transform: translateY(-9.5px) rotate(-225deg);
  will-change: transform;
}
