
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;

$white: #fefefe;

$gray50: #fafafa;
$gray100: #f4f4f5;
$gray200: #e4e4e7;
$gray300: #d4d4d8;
$gray400: #a1a1aa;
$gray500: #71717a;
$gray600: #52525b;
$gray700: #3f3f46;
$gray800: #27272a;
$gray900: #18181b;

$green600: #16a34a;
$amber600: #d97706;
$red600: #dc2626;

@mixin borderlight {
  border: solid 1px $gray200;
}
@mixin borderbottomlight {
  border-bottom: solid 1px $gray200;
}
@mixin bordertoplight {
  border-top: solid 1px $gray200;
}
@mixin borderrightlight {
  border-right: solid 1px $gray200;
}

@mixin seriflight{
 font-family: 'Cormorant';
 //font-family: 'Lora', serif;

  font-weight: 300;
}
@mixin serif{
 font-family: 'Cormorant';
 //font-family: 'Lora', serif;

  font-weight: 400;
}

@mixin desktop-container {
  width: $breakpoint-lg;
  max-width: 90%;
  margin: 0 auto;
}

@mixin scaleclick{
  transition: transform .2s;
  &:active{
    transform: scale(.95);
  }
}

@mixin tablet-container {
  max-width: $breakpoint-md;
}

@mixin mobile-container {
  max-width: $breakpoint-sm;
}

@mixin text-shorten($numLines: 1) {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: $numLines) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
  }
}