@use './variables' as *;

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family:  'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $gray800;
  background-color: $white;
 // scroll-behavior: smooth;
  

  // background-image: linear-gradient(to right, rgba($white, 0.9), rgba($white, 0.9)),url("/images/texture.avif");
  // background-size: cover;
  // background-repeat: no-repeat;
}

section{
  padding: 6rem 0;
}

@media (max-width:$breakpoint-sm){
  section {
    padding: 3rem 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
ul > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style-type: decimal !important;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 0rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  @include seriflight;
}
h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  @include serif;
}
h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  @include serif;
}

p {
  line-height: 1.5rem;
  //letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

.body-full{
  position: relative;
  height: 100svh;
  overflow: hidden;
}